<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" >
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" action="/events/create">
    <div class="form-group">
        <label>Name
            <input th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${event.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input th:field="${event.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>Location
            <input th:field="${event.location}" class="form-control">
        </label>
        <p class="error" th:errors="${event.location}"></p>
    </div>
    <div class="form-group">
        <label>Attendee Registered
            <input th:field="${event.attendeeRegistered}" class="form-control">
        </label>
        <p class="error" th:errors="${event.attendeeRegistered}"></p>
    </div>
    <div class="form-group">
        <label>Number of Attendees
            <input th:field="${event.numberOfAttendees}" class="form-control">
        </label>
        <p class="error" th:errors="${event.numberOfAttendees}"></p>
    </div>
    <div class="form-group">
        <label>Valet Parking
            <input th:field="${event.needParkingValet}" class="form-control">
        </label>
        <p class="error" th:errors="${event.needParkingValet}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>