img {
    max-height: 70px;
    max-width: 70px;
}

body {
    font-size: 18px;
    color: purple;
}

th {
    font-size: 28px;
}

td {
    font-size: 18px;
}

table.center {
    margin-left: auto;
    margin-right: auto;

}

h1{
   text-align: center;
   text-decoration: underline;
}