<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Category Name</th>
    </tr>
    </thead>
    <tr th:each="category : ${categories}">
        <td th:text="${category.name}"></a></td>
        <!--        <td>-->
        <!--            <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>-->
        <!--        </td>-->
        <!--        uses getName method-->
        <!--        calls getter on object event.description-->
    </tr>
</table>

</body>
</html>